body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}

.container {
  width: 95%; /* Container takes 95% of the screen width */
  max-width: 800px; /* Set maximum width of the container */
  margin: 50px auto; /* Center the container */
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.cover-photo {
  width: 100%;
  height: 150px;
  background-color: #ccc;
}

/* Styling for input fields */
input[type="text"],
input[type="password"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
  background-color: #fafafa;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Change color on input focus */
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #333;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.5);
  outline: none;
}

/* Button styling */
button {
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Responsive styles */
@media (min-width: 1200px) {
  .container {
    width: 80%; /* Use percentage to fit width */
    max-width: 700px; /* Set maximum width */
  }

  .profile-pic {
    width: 150px; /* Adjust image width */
    height: 150px; /* Adjust image height */
  }

  .cover-photo {
    height: 300px; /* Adjust cover photo height */
  }

  button {
    padding: 12px;
    font-size: 1.1em;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  select {
    font-size: 1.1em;
    padding: 12px;
  }
}

/* Laptops 15.6 inch */
@media (min-width: 1366px) and (max-width: 1920px) {
  .container {
    width: 90%; /* Use percentage to fit width */
    max-width: 800px; /* Set maximum width */
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }

  .cover-photo {
    height: 250px;
  }

  button {
    padding: 10px;
    font-size: 1em;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  select {
    font-size: 1em;
    padding: 10px;
  }
}

.hidden {
  display: none;
}
